version: '3.8'

services:
  frontend:
    build: ./packages/frontend
    ports:
      - "80:80"
    depends_on:
      - backend
      - mongo

  backend:
    build: ./packages/backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - YACI_STORE_URL=http://host.docker.internal:8080
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - MONGO_URL=mongodb://mongo:27017/nexguard
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  audit_db:
  mongo_data:
